@use "variables" as *;
.footer {
 position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $nav-bg-color; /* Set the background color as needed */
  color: white; /* Set the text color as needed */
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Add margin for spacing between columns */
}

.footer h1 {
  font-size: $navtitle-font-size;
  margin-bottom: 10px; 
  color: black;/* Add margin below "Moviemax" heading */
}

/* Style your links as needed */
.footer a {
  text-decoration: none;
  color: #333;
  margin-bottom: 5px; /* Add margin between links */
}

/* Add hover effect for links if desired */
.footer a:hover {
  color: #007bff;
}
.footer-left {
  display: flex;
  align-items: center; /* Vertically center the "Moviemax" heading */
}

.footer-center {
     display: flex;
      flex-direction: column;
  text-align: center; /* Center-align the links */
}