@use "variables" as *;
@use "mixins" as *;

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $font-family;
    
    justify-content: center;
}

// h1 {
//     font-weight: 400;
// }

.wrapper {
    position: relative;
    min-height: 72vh;
    padding-bottom: 20px;
    z-index: 50;
    margin-top: 100px;
}

.about-heading {
    margin: 20px auto;
    width: fit-content;
}

div.about-content {
    border: solid 10px $highlight-color;
    border-radius: 10px;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    position: relative;
    z-index: -2;
    background-color: $highlight-color;
    width: 70%;
    margin: auto;
    p {
        margin-left: 10px;
    }
}


.about-content:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $bg-color;
    z-index: -1;
    top: 0;
    left: 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

@include media("tablet-small") {
    .movie-grid {
        grid-template-columns: 1fr 1fr;
    }
}


@include media("tablet-large") {
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@include media("desktop") {
    .movie-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.movie-card {
    margin-bottom: 30px;
    position: relative;
    h2 {
        font-size: 1.2rem;
        margin-bottom: 0;
        height: 50px;
        width: 300px;
    }
    .movie-summary {
        display: none;
        position: absolute;
        top: -16px;
        padding: 15px 15px;
        background-color: black;
        opacity: 0.7;
        line-height: 1.5;
    }
    &:hover .movie-summary {
        display: block;
    }
}

.about-content img {
    float: none;
    margin: 0 15px;
}

@include media("tablet-small") {
    .about-content img {
        float: left;
    }
    
}

.no-favorites-message {
    padding: 20px;
    grid-column: 1/2;
}

@include media("tablet-small") {
    .no-favorites-message {
        grid-column: 1/3;
    }
}

@include media("tablet-large") {
    .no-favorites-message {
        grid-column: 1/4;
    }
}




@include media("desktop") {
    .no-favorites-message {
        grid-column: 2/4;
    }
}


