@use 'variables' as *;
nav {
	padding: 10px;
	font-family: $font-family;
	display: flex;
	flex-direction: row-reverse;
}

//

nav li {
	display: inline;
	margin-right: 10px;
}

nav a {
	color: $nav-link-color;
	text-decoration: none;
	font-size: $font-size;
}

nav a:hover {
	color: $highlight-color;
	text-decoration: underline;
}

.MobileNavigation {
	display: none;
}

header {
	background-color: $nav-bg-color;
	width: 100%;
	height: 3rem;
}

@media (max-width: 600px) {
	nav {
		background-color: $nav-bg-color;
	}
	// .Navigation {
	// 	display: none;
	// }

	nav li a {
		border: 1px solid black;
		padding: 0px 84px;
		background-color: $highlight-color;
		font-size: 1.5rem;
	}

	nav a {
		color: $navtext-color;
	}

	.MobileNavigation {
		display: flex;

		align-items: center;
	}

	.Hamburger {
		position: absolute;
		right: 4%;
		cursor: pointer;
		top: 1px;
	}

	.Closebtn {
		position: absolute;
		right: 4%;
		cursor: pointer;
		top: 1px;
	}
	.MobileNavigation ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 40px;
		right: 0;
		width: 100%;
		background-color: $navmb_bg-color;
		align-items: center;
	}

	.MobileNavigation ul li {
		margin-bottom: 11px; /* Adjust the value to set the desired space between items */
	}
}
