@use "variables" as *;
@use "mixins" as *;

.radio-wrapper {
    padding: 0.4rem 0.2rem;
    background-color: $nav-link-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    margin: 5px 5px 20px 5px;
}

.radio-btn {
    border: 5px solid $bg-color;
    color: $bg-color;
    background-color: $nav-link-color;
    padding: 0.5rem;
    margin: 5px;
    border-radius: 18px;
    font-weight: bold;
    width: 45%;
}

@include media("phone") {
    .radio-btn {
        width: 100%;
    }
}

@include media("tablet-small") {
    .radio-btn {
        width: 48%;
    }
}

@include media("tablet-large") {
    .radio-btn {
        width: 23%;
    }
}

.radio-btn:hover {
    background-color: $bg-color;
    color: $nav-link-color;
}

.radio-btn.selected {
    background-color: $bg-color;
    color: $nav-link-color;
}

