$bg-color: #010C47;
$text-color: white;
$navtext-color: black;
$nav-bg-color: #329abd;
$highlight-color: #D9DE40;
$nav-link-color: #FFD800;
$font-family: "PT Serif";
$font-size: 1rem;
$title-font-size: 1.5rem;
$navmb_bg-color: rgba(50, 154, 189, 0.5);
$navtitle-font-size: 1.9rem;