@import './main';
@import './radio';
@import './moviedetails';
@import './footer';
@import './nav';
@import './logo';

a {
	text-decoration: none;
}

body {
	margin: 0px;
}
#root {
	margin: 0;
	   
    display: flex;
    flex-direction: column;
}
